h3, .heading-3, .title {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
}

p,
p.phar,
.phar {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: rgba(110, 118, 134, 0.4);
}
